<nav class="navbar navbar-default">		<!-- Top Nav -->
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <img src="assets/danish_flag.gif">
      <h2>Danebook</h2>
    </div>
    <div class="navbar-header navbar-left">
      <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for Users">
        </div>
      </form>
    </div>
    <div class="navbar-header navbar-right">
      <h3><%= @user.first_name %></h3>
    </div>
  </div><!-- /.container-fluid -->
</nav>
