<%= render partial: 'shared/middle_navbar', locals: {user: @user} %>
<div>
  <%= render partial: 'about_panel', locals: {user: @user, profile: @profile} %>
</div>
<div>
  <%= post_form_display %>
  <%= render @posts %>
</div>}
